name: Release Helm Chart

on:
  push:
    tags:
      - 'v*.*.*'
  workflow_dispatch:

jobs:
  release:
    runs-on: ubuntu-latest
    permissions:
      contents: write   # needed to push to gh-pages branch

    steps:
      - name: Checkout
        uses: actions/checkout@v4
        with:
          fetch-depth: 0   # chart-releaser needs full history

      - name: Configure Git
        run: |
          git config user.name "$GITHUB_ACTOR"
          git config user.email "$GITHUB_ACTOR@users.noreply.github.com"

      - name: Install Helm
        uses: azure/setup-helm@v4

      - name: Run chart-releaser
        uses: helm/chart-releaser-action@v1.6.0
        env:
          CR_TOKEN: "${{ secrets.GITHUB_TOKEN }}"

      - name: Disable Jekyll on gh-pages branch
        run: |
          git fetch origin gh-pages
          git checkout gh-pages
          touch .nojekyll
          git add .nojekyll
          git diff --cached --quiet || git commit -m "chore: disable Jekyll processing [skip ci]"
          git push origin gh-pages
